/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;

	.widget {
		background-color: $sidebar_widget_area_background_color;
		padding: 40px;
	}

	@media only screen and (max-width: 860px) {
		margin-bottom: 5%;

		.widget {
			padding: 30px;
			margin-bottom: 5%;
		}
	}
}
