.sidebar {
	@include font-size(1.6);
	margin-bottom: 40px;

	@include bp-medium {
		margin-bottom: 5%;
	}

	.widget {
		background-color: $white;
		padding: 40px;

		@include bp-medium {
			padding: 30px;
			margin-bottom: 5%;
		}
	}
}
