/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	background-color: $white;
	@include font-size(1.6);
	margin-bottom: 1px;
	padding: 12px 30px;
}

.after-entry,
.archive-description,
.author-box {
	background-color: $white;
	@include font-size(1.8);
	margin-bottom: 40px;
	padding: 60px;

	@include bp-medium {
		padding: 30px;
		margin-bottom: 5%;
	}
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}