/* # Loading SCSS variables
---------------------------------------------------------------------------------------------------- */

/* ## Colors
--------------------------------------------- */
$black: #333;
$white: #fff;
$grey: #eee;
$link: #c3251d;

$twitter: #0084b4;
$facebook: #3b5998;
$linkedin: #0077b5;


/* ## Fonts
--------------------------------------------- */

$font_body: 'Source Sans Pro', sans-serif #{"/*rtl:prepend:\"Cairo\", */"};
$font_heading: 'Source Sans Pro', sans-serif #{"/*rtl:prepend:\"Cairo\", */"};
$language_swicher: 'Cairo', sans-serif #{"/*rtl:prepend:\"Source Sans Pro\", */"};
