// Backgrounds
$body_background_color: #eee;
$text_background_color: #fff;
$breadcrumb_background: #fff;
$after_entry_archive_description_background: #fff;

// Fonts 
$main_font_color: #333;
$links_color: #c3251d;

// Buttons
$buttons_background_color: #333;
$buttons_text_color: #fff;

$buttons_background_hover_color: #c3251d;

$buttons_disabled_background_color: #eee;
$buttons_disabled_text_color: #777;

// Borders
$border_color: #eee;
$border_hover_color: #999;

// Navigation 
$menu_background: #fff;

//Content Area 
$entry_background: #fff;
$code_background: #eee;

$code_text_color: #333;