/* ## Entries
--------------------------------------------- */

.entry {
	background-color: $white;
	margin-bottom: 40px;
	padding: 70px 80px;

	@include bp-medium {
		padding: 30px;
		margin-bottom: 5%;
	}
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: $black;
	color: $grey;
}