/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;

	@media only screen and (max-width: 860px) {
		margin: 5% auto;

		li a {
			margin-bottom: 4px;
		}
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {
	li {
		display: inline;
	}
	
	a {
		background-color: $pagination_background_color;
		color: $pagination_text_color;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 8px 12px;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $pagination_background_hover_color;
			color: $pagination_text_hover_color;
		}
	}

	.active a {
		background-color: $pagination_background_hover_color;
		color: $pagination_text_hover_color;
	}
}