.footer-widgets {
	background-color: $white;
	clear: both;
	@include font-size(1.8);
	padding: 60px 0;

	.wrap {
		@include flexContainer(space-between);

		.footer-widgets-1,
		.footer-widgets-2,
		.footer-widgets-3 {
			@include flexItem(31%);

			@include bp-large {
				@include flexItem(100%);
			}
		}

		.footer-widgets-1,
		.footer-widgets-2 {
			@include bp-large {
				margin-bottom: 40px;
			}
		}
	}
}