.footer-widgets {
	background-color: $white;
	clear: both;
	@include font-size(1.8);
	padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 380px;

	@include bp-xxlarge {
		width: 340px;
	}
	@include bp-xlarge {
		width: 300px;
	}
	@include bp-large {
		width: 100%;
	}
}

.footer-widgets-1 {
	margin-right: 70px;

	@include bp-xxlarge {
		margin-right: 60px;
	}
	@include bp-xlarge {
		margin-right: 30px;
	}
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;

	@include bp-large {
		margin: 0 auto 40px;
	}
}

.footer-widgets-3 {
	float: right;
}