/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;

	.widget-area {
		float: right;
		text-align: right;
		width: 800px;

		@media only screen and (max-width: 1340px) {
			width: 800px;
		}

		@media only screen and (max-width: 1200px) {
			width: 620px;
		}

		@media only screen and (max-width: 1023px) {
			width: 100%;
		}
	}

	/* ## Site Header Navigation
	--------------------------------------------- */
	ul.genesis-nav-menu {
		float: none;
	}

	.genesis-nav-menu li li {
		margin-left: 0;
	}

	> .wrap {
		padding: 20px 0;
	}

	.wrap {
		@media only screen and (max-width: 1023px) {
			padding-left: 5%;
			padding-right: 5%;
		}
	}

	.menu-toggle {
		@media only screen and (max-width: 1023px) {
			border: 0;
		}
	}

	.title-area,
	.widget-area {
		text-align: center;
	}
}

