/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
}

.header-image { 
	.title-area {
		margin: 0 auto;
		max-width: 300px;
		padding: 0;

		.site-title > a {
			background-position: center !important;
			background-size: contain !important;
			float: left;
			min-height: 80px;
			width: 100%;
		}

		@media only screen and (max-width: 1023px) {
			float: none;
		}
	}

	.site-description,
	.site-title {
		display: block;
		text-indent: -9999px;
	}
}

.header-full-width .title-area {
	float: left;
}

.site-title {
	font-size: 30px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;

	a,
	a:hover,
	a:focus {
		color: $main_font_color;
		text-decoration: none;
	}
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 0;
}