/* ## Accessible Menu
--------------------------------------------- */

.menu {
	.menu-item:focus {
		position: static;
	}

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
} 



.menu-toggle {
	@include bp-large {
		line-height: 22px;
		position: relative;
		width: auto;
		z-index: 1000;
		border-top: none;
		float: right;
        margin-top: 16px;

		&:focus,
		&:hover {
			background-color: transparent;
			border-width: 0;
			color: $link;
			border-top: none;
		}

		&::before {
			font-size: 1.5em;
			margin-right: 10px;
			text-rendering: auto;
		}
	}
}

.sub-menu-toggle {
	@include bp-large {
		float: right;
		padding: 13px 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;

		&:focus,
		&:hover {
			background-color: $white;
			border-width: 0;
			color: $link;
		}

		&::before {
			display: inline-block;
			text-rendering: auto;
			-webkit-transform: rotate( 0 );
			-ms-transform:     rotate( 0 );
			transform:         rotate( 0 );
			-webkit-transition: transform .25s ease-in-out;
			-ms-transition:     transform .25s ease-in-out;
			transition:         transform .25s ease-in-out;
		}

		&.activated::before {
			-webkit-transform: rotate( 180deg );
			-ms-transform:     rotate( 180deg );
			transform:         rotate( 180deg );
		}
	}
}

.menu-toggle,
.sub-menu-toggle {
	display: none;
	visibility: hidden;

	@include bp-large {
		background-color: $white;
		border-width: 0;
		color: $black;
		display: block;
		margin: 10px auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
		padding: 12px 10px;
	}
}

