.js {
	@media only screen and (max-width: 1023px) {
		.genesis-nav-menu .sub-menu a,
		.genesis-nav-menu .sub-menu {
			width: 100%;
		}

		.site-header nav  {
			display: none;
			position: relative;

			.wrap {
				padding: 0;
			}
		}

		nav.nav-primary {
			display: none;
			position: relative;
		}

		nav.pagination {
			display: block;
		}

		.nav-primary {
			.genesis-nav-menu {
				.menu-item{
					display: block;
					float: none;
					margin: 1px 0;
					position: relative;
					text-align: left;

					a{
						border: none;
						padding: 12px 0;
						width: 100%;
					}
				}
			}
		}	

		.site-header {
			.genesis-nav-menu {
				.menu-item {
					display: block;
					float: none;
					margin: 1px 0;
					position: relative;
					text-align: left; 

					a {
						border: none;
						padding: 12px 0;
						width: 100%;
					}
				}
			}
		}

		.genesis-nav-menu {

			.menu-item {
				> a:focus ul.sub-menu,
				> a:focus ul.sub-menu .sub-menu {
					left: 0;
					margin-left: 0;
				}
			}

			> .menu-item-has-children > a:after {
				content: none;
			}
			
			.sub-menu {
				border: none;
				clear: both;
				display: none;
				margin: 0;
				opacity: 1;
				padding-left: 15px;
				position: static;
				width: 100%;

				.sub-menu {
					margin: 0;
				}
			}
		}

		.js nav button:hover,
		.js .menu-toggle:hover,
		.js .nav-primary {
			background-color: #fff;
			color: #000;
		}

		.js nav button:focus,
		.js .menu-toggle:focus {
			background-color: #fff;
			color: #c3251d;
		}
			
	}	
}