/* ## Fonts
--------------------------------------------- */

$font_body: 'Source Sans Pro', sans-serif #{"/*rtl:prepend:\"Cairo\", */"};
$font_heading: 'Source Sans Pro', sans-serif #{"/*rtl:prepend:\"Cairo\", */"};
$language_swicher: 'Cairo', sans-serif #{"/*rtl:prepend:\"Source Sans Pro\", */"};